# Distribution
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.sqlite
*.db

# Logs
logs/
*.log

# Testing
.coverage
.pytest_cache/
htmlcov/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Virtual environment
venv/
env/
