# Core Framework
fastapi
uvicorn

# AI/ML Libraries
langchain
langgraph
langchain-groq

# Database
sqlalchemy==2.0.27
alembic==1.13.1
psycopg2

# Utils
pydantic==2.6.1
pydantic-settings
python-jose==3.4.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.18
asyncpg
email-validator
