# Core Framework
fastapi
uvicorn

# AI/ML Libraries
langchain
langgraph
langchain-groq

# Database
sqlalchemy
alembic
psycopg2

# Utils
pydantic
pydantic-settings
python-jose
passlib[bcrypt]
python-multipart
asyncpg
email-validator
