@use 'sass:color';


.deck-creator {
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 20px;
  
  h2 {
    color: var(--accent-color);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .deck-requirements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    .color-selection, .format-selection, .strategy-selection {
      background-color: var(--background-primary);
      padding: 15px;
      border-radius: 8px;
      
      label {
        display: block;
        margin-bottom: 10px;
        color: var(--text-secondary);
      }
    }
    
    .color-options {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    
    select {
      width: 100%;
      padding: 10px;
      background-color: var(--background-secondary);
      color: var(--text-primary);
      border: none;
      border-radius: 5px;
    }
  }
  
  .generate-deck-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 12px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
      background-color: color.scale(#4A90E2, $lightness: 10%);
    }
  }
}